[submodule "libraries/Adafruit_GFX_Library"]
	path = libraries/Adafruit_GFX_Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/arduino-Max72xxPanel"]
	path = libraries/arduino-Max72xxPanel
	url = https://github.com/markruys/arduino-Max72xxPanel.git
